server:
  port: 9007

spring:
  application:
    name: notification-service
  kafka:
    bootstrap-servers: host.docker.internal:9092
    consumer:
      group-id: notification-group
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
