server:
  port: 9001

spring:
  application:
    name: auth-service
  datasource:
    url: jdbc:postgresql://host.docker.internal:5432/secure_road_auth
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
