server:
  port: 9003

spring:
  application:
    name: document-service
  data:
    mongodb:
      uri: mongodb://host.docker.internal:27017/digidrive
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
