server:
  port: 9006

spring:
  application:
    name: payment-service
  datasource:
    url: jdbc:postgresql://host.docker.internal:5432/digi_drive
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
